@import 'utilities';

.icon {
  @include flex($justify: center, $align: center);
  border-radius: 50%;

  &:not(.no-icon):active { background-color: get-color(grayscale, lighter); }

  @media (hover) {
    &:not(.no-icon):hover { background-color: get-color(grayscale, lighter); }
    &:not(.no-icon):active { background-color: get-color(grayscale, light); }
  }

  &.empty-box, &.checked-box, &.pencil, &.x-remove { 
    & svg { font-size: 0.95em; }
  }
}

.task-input .empty-box {
  &:hover { background-color: inherit; }
  &:active { background-color: inherit; }
}
