@import 'utilities';

.icon.palette {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2em;
  width: 2em;

  svg {
    font-size: 1.25em;
  }
}

.theme-options {
  @include flex($dir: column, $justify: space-between, $align: center, $gap: 0.75rem);

  width: calc(100% + 2rem);
  border-bottom: 1px solid get-color(grayscale, light);
  padding-bottom: 1.5rem;

  #color-dot-list {
    $dot-height: 1.5rem;

    @include flex($justify: space-between, $align: center, $gap: 0.5rem);

    .color-dot {
      @include flex($justify: center, $align: center);

      width: $dot-height;
      height: $dot-height;
      border-radius: calc($dot-height / 2);

      $background-color: get-color(primary, normal);
      $border-color: adjust-color($color: $background-color, $lightness: -10%);

      .color-input {
        display: none;
      }

      #color-dot-active {
        display: block;
        width: calc($dot-height / 2);
        height: calc($dot-height / 2);
        border-radius: calc($dot-height / 2);
        background-color: get-color(grayscale, white);
      }

      // TODO: better application of color shift
      &#red {
        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }

      &#yellow {
        $background-color: change-color($color: $background-color, $hue: 50);
        $border-color: change-color($color: $border-color, $hue: 50);

        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }

      &#green {
        $background-color: change-color($color: $background-color, $hue: 115);
        $border-color: change-color($color: $border-color, $hue: 115);

        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }

      &#blue {
        $background-color: change-color($color: $background-color, $hue: 180);
        $border-color: change-color($color: $border-color, $hue: 180);

        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }

      &#violet {
        $background-color: change-color($color: $background-color, $hue: 290);
        $border-color: change-color($color: $border-color, $hue: 290);

        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }

      &#gray {
        $background-color: change-color($color: $background-color, $saturation: 0%);
        $border-color: change-color($color: $border-color, $saturation: 0%);

        background-color: $background-color;
        border: 1px solid $border-color;

        #color-dot-active { border: 1px solid $border-color; }
      }
    }
  }

  #theme-mode-buttons { @include flex($gap: 0.5rem); }
}
