$color-primary: (
    lighter: hsl(0, 5%, 57%),
    light: hsl(0, 5%, 50%),
    normal: hsl(0, 7%, 45%),
    dark: hsl(0, 11%, 26%),
);

$color-grayscale: (
    white: hsl(0, 0%, 100%),
    lighter: hsl(0, 0%, 94%),
    light: hsl(0, 0%, 82%),
);

$color: (
    primary: $color-primary,
    grayscale: $color-grayscale
);
