@use 'toggle';
@use 'icons';
@use 'theme-palette';
@import 'utilities';

* {
  box-sizing: border-box;
}

[data-theme-mode='light'] {
  &[data-theme-color='red']     { @include apply-theme(light, red); }
  &[data-theme-color='yellow']  { @include apply-theme(light, yellow); }
  &[data-theme-color='green']   { @include apply-theme(light, green); }
  &[data-theme-color='blue']    { @include apply-theme(light, blue); }
  &[data-theme-color='violet']  { @include apply-theme(light, violet); }
  &[data-theme-color='gray']    { @include apply-theme(light, gray); }
}

[data-theme-mode='dark'] {
  &[data-theme-color='red']     { @include apply-theme(dark, red); }
  &[data-theme-color='yellow']  { @include apply-theme(dark, yellow); }
  &[data-theme-color='green']   { @include apply-theme(dark, green); }
  &[data-theme-color='blue']    { @include apply-theme(dark, blue); }
  &[data-theme-color='violet']  { @include apply-theme(dark, violet); }
  &[data-theme-color='gray']    { @include apply-theme(dark, gray); }
}

button {
  color: var(--text-button);
  border: 1px solid var(--element-border);
  min-height: 1.5rem;
  border-radius: 0.75rem;
  font-family: 'Arimo', Arial, sans-serif;
  padding: 1px 6px;
  font-size: 83.33%;
  background-color: var(--element-highlight);

  &:disabled { 
    background-color: var(--element-dimmed);
    color: var(--element-border);
  }
}

body {
  background-color: var(--element-highlight);
  color: var(--text);
  font-family: 'Bitter', serif;
  margin: 0;

  .container {
    @include flex($dir: column, $justify: center, $align: center, $gap: 1rem);
    margin: 0.5rem;
    padding: 1.5rem 1rem 1rem;
    background-color: var(--container-bg);
    border: 1px solid var(--element-border);
    border-radius: 1rem;
    position: relative;
  
    h2 {
      margin: 0;
      font-size: 1.75rem;
    }
  
    .list-buttons { @include flex($gap: 0.5rem); }
    
    #tasks-container {
      @include flex($dir: column, $align: stretch);
      width: 100%;
  
      #task-list {
        @include flex($dir: column, $align: stretch, $gap: 0.25rem);
        border-bottom: 1px solid var(--text-dimmed);
        padding-bottom: 0.25rem;
      }
  
      .item-line {
        @include flex($justify: space-between, $align: center, $gap: 0.25rem);
  
        &.complete { color: var(--text-dimmed); }
  
        &.edit .item-text { background-color: var(--element-highlight); }
        
        .icon {
          height: 1.75em;
          flex-basis: 1.75em;
          flex-shrink: 0;
        }
  
        .item-text {
          min-width: 0;
          height: 1.75em;
          flex-grow: 1;
          font-family: inherit;
          font-size: inherit;
          border: none;
          border-radius: 1rem;
          padding: 0.25rem 0.5rem;
          outline: none;
          color: inherit;
          background-color: inherit;
  
          &.complete { text-decoration: line-through; }
        }
      }
  
      .task-input { margin-top: 0.25rem; }
    }
  }
  
  @media (min-width: 416px) {
    .container { 
      padding: 1.5rem;
      margin: 1.5rem auto;
      max-width: 400px;
      
      .theme-options { width: calc(100% + 3rem); }
    }
  }

  @media (max-width: 900px) {
    .container button {
      font-size: 0.9em;
      min-height: 1.75rem;
      border-radius: 0.875rem;
    }

    .toggle {
      font-size: 1.1em;
    }
  }
}
