@use 'toggle';
@use 'icons';

@mixin flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: 'Bitter', serif;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 1.5rem 1rem 1rem;
    background-color: white;
    border: 1px solid #D2D2D2;
    border-radius: 1rem;
  
    h2 {
      margin: 0;
    }
  
    .list-buttons {
      display: flex;
      gap: 0.5rem;
  
      button {
        color: #7a6a6a;
        border: 1px solid #D2D2D2;
        border-radius: 0.25rem;
        min-height: 1.5rem;
      }
    }
    
    #tasks-container {
      @include flex-col-stretch;
      width: 100%;
  
      #task-list {
        @include flex-col-stretch;
        gap: 0.25rem;
        border-bottom: 1px solid gray;
        padding-bottom: 0.25rem;
      }
  
      .item-line {
        @include flex-row-space-between;
        gap: 0.25rem;
  
        &.complete { color: gray; }
  
        &.edit .item-text { background-color: #EFEFEF; }
        
        .icon {
          height: 27px;
          flex-basis: 27px;
          flex-shrink: 0;
        }
  
        .item-text {
          min-width: 0;
          flex-grow: 1;
          font-family: inherit;
          font-size: inherit;
          border: none;
          border-radius: 1rem;
          padding: 0.25rem 0.5rem;
          outline: none;
          color: inherit;
  
          &.complete { text-decoration: line-through; }
        }
      }
  
      .task-input { margin-top: 0.25rem; }
    }
  }
  
  @media (min-width: 416px) {
    .container { 
      padding: 1.5rem;
      margin: 1.5rem auto;
      max-width: 400px;
    }
  }
}
