* {
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: 'Bitter', serif;
}
h2 {
  position: absolute;
  top: 3%;
  left: 5%;
  transform-origin: center left;
}
button, input {
  margin: 3px;
  color: #7a6a6a;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 3px;
  height: 1.8em;
}
.container {
  position: relative;
  min-height: 150px;
  background-color: white;
  margin: 16px;
  padding: 32px;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-buttons {
  margin-bottom: 1rem;
}

/* Task items */
.item-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.checkbox {
  margin-right: 0.25rem;
  font-size: 150%;
}

.item-line.complete {
  color: grey;
}

.item-text.complete {
  text-decoration: line-through;
}

/* Edit task */
.todo-item-buttons {
  display: flex;
  align-items: center;
}

.pencil {
  transform: scaleX(-1);
  font-size: 120%;
  margin-right: 0.25rem;
}

.pencil, .x-remove, .checkbox, .no-icon, .plus {
  width: 29.5px;
  height: 29.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pencil:hover, .x-remove:hover, .item-line:not(.task-input) .checkbox:hover, .plus:hover {
  background-color: #EFEFEF;
}

.pencil:active, .x-remove:active, .item-line:not(.task-input) .checkbox:active, .plus:active {
  background-color: #D2D2D2;
}

.item-line input, .item-line input:focus {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0.9em;
  padding: 0 0.5rem;
  outline: none;
  color: inherit;
}

.item-line.edit input:focus {
  background-color: #EFEFEF;
}

/* Sort toggle switch */
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.toggle-input {
  display: none;
}

.toggle-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 2rem;
  height: 1rem;
  border-radius: 2rem;
  background: #EFEFEF;
  border: 1px solid #d2d2d2;
}

.toggle-track .toggle-slider {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: calc(0.15rem - 1px);
  left: calc(0.15rem - 1px);
  border-radius: 0.7rem;
  background: #fff;
  border: 1px solid #d2d2d2;
}

.toggle-input:checked + .toggle-track {
  background: #978b8b;
  border: 1px solid #847a7a
}

.toggle-input:checked + .toggle-track .toggle-slider {
  left: calc(100% - 0.15rem + 1px);
  transform: translateX(-100%);
  border: 1px solid #847a7a;
}

.toggle-label {
  padding-right: 0.5rem;
}

.plus {
  font-size: 120%;
}

#task-list {
  border-bottom: 1px solid gray;
  padding-bottom: 0.25rem;
}

.task-input {
  padding-top: 0.25rem;
}